[Unit]
Description=Willhaben Meta Data Scrapper
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/openhabian/py-HouseDataAnalytics/py-pandemieende.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target

#copy to /lib/systemd/system/py-HouseDataAnalytics.service and execute 
#sudo systemctl enable py-HouseDataAnalytics.service
#sudo systemctl start py-HouseDataAnalytics.service
#sudo systemctl status py-HouseDataAnalytics.service
#sudo journalctl -f -u py-HouseDataAnalytics.service
